$cards: (
  1: card1,
  2: card2,
  3: card3,
  4: card4,
);

@each $i, $y in $cards {
  .card#{$i} {
    background: url("../img/#{$y}.jpg") no-repeat center center;

    background-size: cover;
    background-color: lighten($primary, 10%);
    padding: 2rem 2rem 4rem 2rem;
    color: $light;
    background-blend-mode: soft-light;
    flex-basis: 20%;
    flex-grow: 1;
  }
}

$break-xsmall: 400px;
$break-small: 600px;
$break-medium: 840px;
$break-large: 1024px;
$break-xlarge:1200px;

$breakpoints: (
  xsmall: $break-xsmall,
  small: $break-small,
  medium: $break-medium,
  large: $break-large,
  xlarge: $break-xlarge
);
